<a href="https://colab.research.google.com/github/pspanji/BA--BI--DS/blob/main/Journey_begins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Python practice
#first command is print
print("Journey to better world begins now")

Journey to better world begins now

In [4]:
# Variables
x=1
y=1.99
z="ABC"
print(x+y)

2.99

In [5]:
def1 = 10.5
manoj =50
manoj=60

In [8]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# command type() sytnax : type() will determine the type of variable
#Variables can be of various types like int,float,boolen,string, set, forzenset, dict, tuple, list, bytes, Bytearrey, Range
int = 1 # number
float = 1.99 # floating point value
string1 = "Words" # Alphanumeric character enclosed in double or single quotes
#Boolen = true or false
#Bytes
#Bytearray
#Range
#List
#Tuple
#Set
#Frozenset
#Dict
#None#

In [11]:
#1) type()
#to check the type of variable
y=13
print(type(y))

#2)id()
#to get address of object
id(y)

<class 'int'>

135801201410672

In [12]:
#Lets learn about data types
# integer
#We can use int data type to represent whole numbers (integral values)
x=1
print(x)
print(id(x))
print(type(x))

1
135801201410288
<class 'int'>

In [14]:
#Float data type
#We can use float data type to represent floating point values (decimal values)
f = 1.234
print(f)
print(id(f))
print(type(f))

1.234
135800907641040
<class 'float'>

In [15]:
#complex data type
a = 3 +5j
print(a)
print(id(a))
print(type(a))

(3+5j)
135800907640944
<class 'complex'>

In [ ]:
# bool Data Type:
#The only allowed values for this data type are:

# True and False

# Internally Python represents True as 1 and False as 0

#b = True type(b) # bool

In [16]:
#5) string(str) Data Type
#A String is a sequence of characters enclosed within single quotes or double quotes.
a1 = "Artificial Intelligence"
print(a1)
print(id(a1))
print(type(a1))

Artificial Intelligence
135800153401312
<class 'str'>