<a href="https://colab.research.google.com/github/pspanji/BA--BI--DS/blob/main/Python_Test_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Heading
## Sub Heading
Inserting image will be easy copy and paste and then shift enter

In [ ]:
a=3+4
print(a)

7

In [ ]:
a=5+9

In [ ]:
print(a+a)

28

In [2]:
da="ajay_K"
cb="ajay_K"
print(id(da))
print(id(cb))

139626080639152
139626080639152

In [15]:
a=input("Enter the name of team:")
b=int(input("Total Number of matches:"))
c=int(input("Number of matches won:"))
d=int(input("Number of matches Draw:"))
e=int(input("Number of matches loose:"))
print("Win=",c)
print("Draw=",d)
print("Loose=",e)
a = c*3+d*1+e*0
print("aravali_points =",a)

Enter the name of team:aravali
Total Number of matches:8
Number of matches won:4
Number of matches Draw:1
Number of matches loose:3
Win= 4
Draw= 1
Loose= 3
aravali_points = 13