<a href="https://colab.research.google.com/github/pspanji/BA--BI--DS/blob/main/RTD%20Analysis_Regional%20Tourism%20Disparities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#RTD Analysis_Regional Tourism Disparities

In [3]:
# Loading the dataframe in to file for data insights and analysis.
#top 10prefered countries which are being prefered by tourists\
#which is the most expensive courtry for visit
#conuntry that contry has largest contribution for GDP

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df1 = pd.read_excel("/content/drive/MyDrive/travel_data.xls", sheet_name = None ,header = 3, index_col =0)
df1

{'number_of_arrival':                           Country Code  \
 Country Name
 World                              WLD
 High income                        HIC
 OECD members                       OED
 Post-demographic dividend          PST
 Europe & Central Asia              ECS
 ...                                ...
 Syrian Arab Republic               SYR
 Turkmenistan                       TKM
 Virgin Islands (U.S.)              VIR
 Kosovo                             XKX
 Yemen, Rep.                        YEM

                                                       Indicator Name  \
 Country Name
 World                      International tourism, number of arrivals
 High income                International tourism, number of arrivals
 OECD members               International tourism, number of arrivals
 Post-demographic dividend  International tourism, number of arrivals
 Europe & Central Asia      International tourism, number of arrivals
 ...                                                              ...
 Syrian Arab Republic       International tourism, number of arrivals
 Turkmenistan               International tourism, number of arrivals
 Virgin Islands (U.S.)      International tourism, number of arrivals
 Kosovo                     International tourism, number of arrivals
 Yemen, Rep.                International tourism, number of arrivals

                           Indicator Code  1960  1961  1962  1963  1964  1965  \
 Country Name
 World                        ST.INT.ARVL   NaN   NaN   NaN   NaN   NaN   NaN
 High income                  ST.INT.ARVL   NaN   NaN   NaN   NaN   NaN   NaN
 OECD members                 ST.INT.ARVL   NaN   NaN   NaN   NaN   NaN   NaN
 Post-demographic dividend    ST.INT.ARVL   NaN   NaN   NaN   NaN   NaN   NaN
 Europe & Central Asia        ST.INT.ARVL   NaN   NaN   NaN   NaN   NaN   NaN
 ...                                  ...   ...   ...   ...   ...   ...   ...
 Syrian Arab Republic         ST.INT.ARVL   NaN   NaN   NaN   NaN   NaN   NaN
 Turkmenistan                 ST.INT.ARVL   NaN   NaN   NaN   NaN   NaN   NaN
 Virgin Islands (U.S.)        ST.INT.ARVL   NaN   NaN   NaN   NaN   NaN   NaN
 Kosovo                       ST.INT.ARVL   NaN   NaN   NaN   NaN   NaN   NaN
 Yemen, Rep.                  ST.INT.ARVL   NaN   NaN   NaN   NaN   NaN   NaN

                            1966  ...          2009          2010  \
 Country Name                     ...
 World                       NaN  ...  8.975338e+08  9.563723e+08
 High income                 NaN  ...  5.483952e+08  5.794189e+08
 OECD members                NaN  ...  5.016400e+08  5.216800e+08
 Post-demographic dividend   NaN  ...  4.944450e+08  5.187433e+08
 Europe & Central Asia       NaN  ...  4.681120e+08  4.805914e+08
 ...                         ...  ...           ...           ...
 Syrian Arab Republic        NaN  ...  6.092000e+06  8.546000e+06
 Turkmenistan                NaN  ...           NaN           NaN
 Virgin Islands (U.S.)       NaN  ...  5.630000e+05  5.720000e+05
 Kosovo                      NaN  ...           NaN           NaN
 Yemen, Rep.                 NaN  ...  1.028000e+06  1.025000e+06

                                    2011          2012          2013  \
 Country Name
 World                      9.975553e+08  1.054602e+09  1.106732e+09
 High income                6.058485e+08  6.320718e+08  6.635699e+08
 OECD members               5.454750e+08  5.637250e+08  5.921553e+08
 Post-demographic dividend  5.428600e+08  5.691869e+08  5.987758e+08
 Europe & Central Asia      5.127784e+08  5.386314e+08  5.677226e+08
 ...                                 ...           ...           ...
 Syrian Arab Republic       5.070000e+06           NaN           NaN
 Turkmenistan                        NaN           NaN           NaN
 Virgin Islands (U.S.)      5.670000e+05  6.190000e+05  5.900000e+05
 Kosovo                              NaN           NaN           NaN
 Yemen, Rep.                8.290000e+05  8.740000e+05  9.900000e+05

                                    2014          2015          2016  \
 Country Name
 World                      1.159450e+09  1.206216e+09  1.250468e+09
 High income                7.053862e+08  7.386434e+08  7.751152e+08
 OECD members               6.302726e+08  6.641770e+08  6.873700e+08
 Post-demographic dividend  6.194239e+08  6.475276e+08  6.862630e+08
 Europe & Central Asia      5.797844e+08  6.038805e+08  6.159794e+08
 ...                                 ...           ...           ...
 Syrian Arab Republic                NaN           NaN           NaN
 Turkmenistan                        NaN           NaN           NaN
 Virgin Islands (U.S.)      6.150000e+05  6.420000e+05  6.670000e+05
 Kosovo                              NaN           NaN           NaN
 Yemen, Rep.                1.017500e+06  3.667000e+05           NaN

                                    2017  2018
 Country Name
 World                      1.341457e+09   NaN
 High income                8.212955e+08   NaN
 OECD members               7.387490e+08   NaN
 Post-demographic dividend  7.311272e+08   NaN
 Europe & Central Asia      6.695441e+08   NaN
 ...                                 ...   ...
 Syrian Arab Republic                NaN   NaN
 Turkmenistan                        NaN   NaN
 Virgin Islands (U.S.)               NaN   NaN
 Kosovo                              NaN   NaN
 Yemen, Rep.                         NaN   NaN

 [264 rows x 62 columns],
 'number_of_departure':              Country Code                               Indicator Name  \
 Country Name
 Aruba                 ABW  International tourism, number of departures
 Afghanistan           AFG  International tourism, number of departures
 Angola                AGO  International tourism, number of departures
 Albania               ALB  International tourism, number of departures
 Andorra               AND  International tourism, number of departures
 ...                   ...                                          ...
 Kosovo                XKX  International tourism, number of departures
 Yemen, Rep.           YEM  International tourism, number of departures
 South Africa          ZAF  International tourism, number of departures
 Zambia                ZMB  International tourism, number of departures
 Zimbabwe              ZWE  International tourism, number of departures

              Indicator Code  1960  1961  1962  1963  1964  1965  1966  ...  \
 Country Name                                                           ...
 Aruba           ST.INT.DPRT   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Afghanistan     ST.INT.DPRT   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Angola          ST.INT.DPRT   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Albania         ST.INT.DPRT   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Andorra         ST.INT.DPRT   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 ...                     ...   ...   ...   ...   ...   ...   ...   ...  ...
 Kosovo          ST.INT.DPRT   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Yemen, Rep.     ST.INT.DPRT   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 South Africa    ST.INT.DPRT   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Zambia          ST.INT.DPRT   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Zimbabwe        ST.INT.DPRT   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

                    2009       2010       2011       2012       2013  \
 Country Name
 Aruba               NaN        NaN        NaN        NaN        NaN
 Afghanistan         NaN        NaN        NaN        NaN        NaN
 Angola              NaN        NaN        NaN        NaN        NaN
 Albania       3404000.0  3443000.0  4120000.0  3959000.0  3928000.0
 Andorra             NaN        NaN        NaN        NaN        NaN
 ...                 ...        ...        ...        ...        ...
 Kosovo              NaN        NaN        NaN        NaN        NaN
 Yemen, Rep.         NaN        NaN        NaN        NaN        NaN
 South Africa        NaN        NaN        NaN        NaN        NaN
 Zambia              NaN        NaN        NaN        NaN        NaN
 Zimbabwe       631000.0   650000.0   693000.0   720000.0  2946000.0

                    2014       2015       2016       2017  2018
 Country Name
 Aruba               NaN        NaN        NaN        NaN   NaN
 Afghanistan         NaN        NaN        NaN        NaN   NaN
 Angola              NaN        NaN        NaN        NaN   NaN
 Albania       4146000.0  4504000.0  4852000.0  5186000.0   NaN
 Andorra             NaN        NaN        NaN        NaN   NaN
 ...                 ...        ...        ...        ...   ...
 Kosovo              NaN        NaN        NaN        NaN   NaN
 Yemen, Rep.         NaN        NaN        NaN        NaN   NaN
 South Africa        NaN        NaN        NaN        NaN   NaN
 Zambia              NaN        NaN        NaN        NaN   NaN
 Zimbabwe      3182000.0  3393000.0  3192000.0  2768000.0   NaN

 [264 rows x 62 columns],
 'expenditure for travel item':              Country Code                                     Indicator Name  \
 Country Name
 Aruba                 ABW  International tourism, expenditures for travel...
 Afghanistan           AFG  International tourism, expenditures for travel...
 Angola                AGO  International tourism, expenditures for travel...
 Albania               ALB  International tourism, expenditures for travel...
 Andorra               AND  International tourism, expenditures for travel...
 ...                   ...                                                ...
 Kosovo                XKX  International tourism, expenditures for travel...
 Yemen, Rep.           YEM  International tourism, expenditures for travel...
 South Africa          ZAF  International tourism, expenditures for travel...
 Zambia                ZMB  International tourism, expenditures for travel...
 Zimbabwe              ZWE  International tourism, expenditures for travel...

               Indicator Code  1960  1961  1962  1963  1964  1965  1966  ...  \
 Country Name                                                            ...
 Aruba         ST.INT.TVLX.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Afghanistan   ST.INT.TVLX.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Angola        ST.INT.TVLX.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Albania       ST.INT.TVLX.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Andorra       ST.INT.TVLX.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 ...                      ...   ...   ...   ...   ...   ...   ...   ...  ...
 Kosovo        ST.INT.TVLX.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Yemen, Rep.   ST.INT.TVLX.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 South Africa  ST.INT.TVLX.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Zambia        ST.INT.TVLX.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Zimbabwe      ST.INT.TVLX.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

                       2009          2010          2011          2012  \
 Country Name
 Aruba         2.430000e+08  2.430000e+08  2.690000e+08  2.750000e+08
 Afghanistan   6.800000e+07  1.030000e+08  2.460000e+08  1.050000e+08
 Angola        1.330000e+08  1.480000e+08  1.800000e+08  1.590000e+08
 Albania       1.584000e+09  1.360000e+09  1.564000e+09  1.284000e+09
 Andorra                NaN           NaN           NaN           NaN
 ...                    ...           ...           ...           ...
 Kosovo                 NaN           NaN           NaN           NaN
 Yemen, Rep.   2.140000e+08  1.830000e+08  1.820000e+08  7.300000e+07
 South Africa  4.152000e+09  5.595000e+09  5.283000e+09  4.069000e+09
 Zambia        9.600000e+07  1.050000e+08  1.110000e+08  1.650000e+08
 Zimbabwe      1.100000e+08  1.310000e+08  2.280000e+08  2.720000e+08

                       2013          2014          2015          2016  \
 Country Name
 Aruba         3.200000e+08  3.300000e+08  3.440000e+08  3.190000e+08
 Afghanistan   1.320000e+08  1.370000e+08  1.470000e+08  7.900000e+07
 Angola        1.660000e+08  1.130000e+08  1.460000e+08  5.940000e+08
 Albania       1.479000e+09  1.590000e+09  1.237000e+09  1.262000e+09
 Andorra                NaN           NaN           NaN           NaN
 ...                    ...           ...           ...           ...
 Kosovo                 NaN           NaN           NaN           NaN
 Yemen, Rep.   8.600000e+07  7.700000e+07  7.200000e+07  4.900000e+07
 South Africa  3.429000e+09  3.169000e+09  2.998000e+09  2.858000e+09
 Zambia        2.100000e+08  2.220000e+08  2.340000e+08  2.470000e+08
 Zimbabwe      3.370000e+08  3.420000e+08  4.760000e+08  3.270000e+08

                       2017  2018
 Country Name
 Aruba         3.490000e+08   NaN
 Afghanistan   1.180000e+08   NaN
 Angola        9.770000e+08   NaN
 Albania       1.432000e+09   NaN
 Andorra                NaN   NaN
 ...                    ...   ...
 Kosovo                 NaN   NaN
 Yemen, Rep.            NaN   NaN
 South Africa  3.256000e+09   NaN
 Zambia        2.230000e+08   NaN
 Zimbabwe      3.150000e+08   NaN

 [264 rows x 62 columns],
 'receipts for travel items':              Country Code                                     Indicator Name  \
 Country Name
 Aruba                 ABW  International tourism, receipts for travel ite...
 Afghanistan           AFG  International tourism, receipts for travel ite...
 Angola                AGO  International tourism, receipts for travel ite...
 Albania               ALB  International tourism, receipts for travel ite...
 Andorra               AND  International tourism, receipts for travel ite...
 ...                   ...                                                ...
 Kosovo                XKX  International tourism, receipts for travel ite...
 Yemen, Rep.           YEM  International tourism, receipts for travel ite...
 South Africa          ZAF  International tourism, receipts for travel ite...
 Zambia                ZMB  International tourism, receipts for travel ite...
 Zimbabwe              ZWE  International tourism, receipts for travel ite...

               Indicator Code  1960  1961  1962  1963  1964  1965  1966  ...  \
 Country Name                                                            ...
 Aruba         ST.INT.TVLR.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Afghanistan   ST.INT.TVLR.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Angola        ST.INT.TVLR.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Albania       ST.INT.TVLR.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Andorra       ST.INT.TVLR.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 ...                      ...   ...   ...   ...   ...   ...   ...   ...  ...
 Kosovo        ST.INT.TVLR.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Yemen, Rep.   ST.INT.TVLR.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 South Africa  ST.INT.TVLR.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Zambia        ST.INT.TVLR.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
 Zimbabwe      ST.INT.TVLR.CD   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

                       2009          2010          2011          2012  \
 Country Name
 Aruba         1.222000e+09  1.251000e+09  1.351000e+09  1.402000e+09
 Afghanistan   3.600000e+07  7.500000e+07  8.500000e+07  1.020000e+08
 Angola        5.340000e+08  7.190000e+08  6.460000e+08  7.060000e+08
 Albania       1.827000e+09  1.611000e+09  1.631000e+09  1.464000e+09
 Andorra                NaN           NaN           NaN           NaN
 ...                    ...           ...           ...           ...
 Kosovo                 NaN           NaN           NaN           NaN
 Yemen, Rep.   8.990000e+08  1.161000e+09  7.800000e+08  8.480000e+08
 South Africa  7.624000e+09  9.085000e+09  9.515000e+09  9.996000e+09
 Zambia        4.740000e+08  4.920000e+08  5.550000e+08  5.180000e+08
 Zimbabwe      1.180000e+08  1.240000e+08  1.520000e+08  1.610000e+08

                       2013          2014          2015          2016  \
 Country Name
 Aruba         1.495000e+09  1.605000e+09  1.655000e+09  1.625000e+09
 Afghanistan   1.380000e+08  1.090000e+08  7.900000e+07  4.900000e+07
 Angola        1.234000e+09  1.589000e+09  1.163000e+09  6.230000e+08
 Albania       1.473000e+09  1.699000e+09  1.499000e+09  1.692000e+09
 Andorra                NaN           NaN           NaN           NaN
 ...                    ...           ...           ...           ...
 Kosovo                 NaN           NaN           NaN           NaN
 Yemen, Rep.   9.400000e+08  1.026000e+09  1.000000e+08  1.000000e+08
 South Africa  9.245000e+09  9.338000e+09  8.259000e+09  7.919000e+09
 Zambia        5.520000e+08  6.420000e+08  6.600000e+08  6.830000e+08
 Zimbabwe      1.700000e+08  1.720000e+08  1.750000e+08  1.770000e+08

                       2017  2018
 Country Name
 Aruba         1.731000e+09   NaN
 Afghanistan   2.000000e+06   NaN
 Angola        8.800000e+08   NaN
 Albania       1.942000e+09   NaN
 Andorra                NaN   NaN
 ...                    ...   ...
 Kosovo                 NaN   NaN
 Yemen, Rep.            NaN   NaN
 South Africa  8.810000e+09   NaN
 Zambia        6.530000e+08   NaN
 Zimbabwe      1.490000e+08   NaN

 [264 rows x 62 columns],
 'receipts (% of total exports)':              Country Code                                     Indicator Name  \
 Country Name
 Aruba                 ABW  International tourism, receipts (% of total ex...
 Afghanistan           AFG  International tourism, receipts (% of total ex...
 Angola                AGO  International tourism, receipts (% of total ex...
 Albania               ALB  International tourism, receipts (% of total ex...
 Andorra               AND  International tourism, receipts (% of total ex...
 ...                   ...                                                ...
 Kosovo                XKX  International tourism, receipts (% of total ex...
 Yemen, Rep.           YEM  International tourism, receipts (% of total ex...
 South Africa          ZAF  International tourism, receipts (% of total ex...
 Zambia                ZMB  International tourism, receipts (% of total ex...
 Zimbabwe              ZWE  International tourism, receipts (% of total ex...

                  Indicator Code  1960  1961  1962  1963  1964  1965  1966  \
 Country Name
 Aruba         ST.INT.RCPT.XP.ZS   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 Afghanistan   ST.INT.RCPT.XP.ZS   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 Angola        ST.INT.RCPT.XP.ZS   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 Albania       ST.INT.RCPT.XP.ZS   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 Andorra       ST.INT.RCPT.XP.ZS   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 ...                         ...   ...   ...   ...   ...   ...   ...   ...
 Kosovo        ST.INT.RCPT.XP.ZS   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 Yemen, Rep.   ST.INT.RCPT.XP.ZS   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 South Africa  ST.INT.RCPT.XP.ZS   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 Zambia        ST.INT.RCPT.XP.ZS   NaN   NaN   NaN   NaN   NaN   NaN   NaN
 Zimbabwe      ST.INT.RCPT.XP.ZS   NaN   NaN   NaN   NaN   NaN   NaN   NaN

               ...       2009       2010       2011       2012       2013  \
 Country Name  ...
 Aruba         ...  35.041858  68.726003  19.792695  44.811092  69.656539
 Afghanistan   ...   4.185818   5.751392   5.410563   7.211264  12.886723
 Angola        ...   1.336513   1.411031   0.959694   0.989241   1.784014
 Albania       ...  65.774091  53.474994  48.546805  45.657139  45.129651
 Andorra       ...        NaN        NaN        NaN        NaN        NaN
 ...           ...        ...        ...        ...        ...        ...
 Kosovo        ...        NaN        NaN        NaN        NaN        NaN
 Yemen, Rep.   ...  12.629588  13.925889   8.763446  10.708035  11.466181
 South Africa  ...  10.368123   9.568824   8.438839   9.505605   9.223707

In [6]:
type(df1)

dict

In [7]:
s1 = df1['number_of_arrival']
s1

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,,,,,,,,,,,,
World,WLD,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.975338e+08,9.563723e+08,9.975553e+08,1.054602e+09,1.106732e+09,1.159450e+09,1.206216e+09,1.250468e+09,1.341457e+09,NaN
High income,HIC,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.483952e+08,5.794189e+08,6.058485e+08,6.320718e+08,6.635699e+08,7.053862e+08,7.386434e+08,7.751152e+08,8.212955e+08,NaN
OECD members,OED,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.016400e+08,5.216800e+08,5.454750e+08,5.637250e+08,5.921553e+08,6.302726e+08,6.641770e+08,6.873700e+08,7.387490e+08,NaN
Post-demographic dividend,PST,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.944450e+08,5.187433e+08,5.428600e+08,5.691869e+08,5.987758e+08,6.194239e+08,6.475276e+08,6.862630e+08,7.311272e+08,NaN
Europe & Central Asia,ECS,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.681120e+08,4.805914e+08,5.127784e+08,5.386314e+08,5.677226e+08,5.797844e+08,6.038805e+08,6.159794e+08,6.695441e+08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Syrian Arab Republic,SYR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.092000e+06,8.546000e+06,5.070000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Turkmenistan,TKM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virgin Islands (U.S.),VIR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.630000e+05,5.720000e+05,5.670000e+05,6.190000e+05,5.900000e+05,6.150000e+05,6.420000e+05,6.670000e+05,NaN,NaN
Kosovo,XKX,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",YEM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.028000e+06,1.025000e+06,8.290000e+05,8.740000e+05,9.900000e+05,1.017500e+06,3.667000e+05,NaN,NaN,NaN

In [8]:
excel_file = pd.ExcelFile("/content/drive/MyDrive/travel_data.xls")

In [9]:
sheet_names = excel_file.sheet_names
for sheet_name in sheet_names:
    print(sheet_name)

number_of_arrival
number_of_departure
expenditure for travel item
receipts for travel items
receipts (% of total exports)
population
GDP
Metadata - Countries
Metadata - Indicators
country code

In [10]:
s1 = df1['number_of_arrival']
s2 = df1['number_of_departure']
s3 = df1['expenditure for travel item']
s4 = df1['receipts for travel items']
s5 = df1['receipts (% of total exports)']
s5 = df1['population']
s6 = df1['GDP']
s7 = df1['Metadata - Countries']
s8 = df1['Metadata - Indicators']
s9 = df1['country code']

In [11]:
for sheet_name, df in df1.items():
    print(f"Sheet Name: {sheet_name}")
    print("Column Names:")
    print(df.columns.tolist())
    print("\n")

Sheet Name: number_of_arrival
Column Names:
['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']


Sheet Name: number_of_departure
Column Names:
['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']


Sheet Name: expenditure for travel item
Column Names:
['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']


Sheet Name: receipts for travel items
Column Names:
['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']


Sheet Name: receipts (% of total exports)
Column Names:
['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']


Sheet Name: population
Column Names:
['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']


Sheet Name: GDP
Column Names:
['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']


Sheet Name: Metadata - Countries
Column Names:
['Sub-Saharan Africa', 'Lower middle income', 'Unnamed: 3', 'Angola']


Sheet Name: Metadata - Indicators
Column Names:
['ST.INT.TVLX.CD', 'International tourism, expenditures for travel items (current US$)', 'International tourism expenditures are expenditures of international outbound visitors in other countries. The goods and services are purchased by, or on behalf of, the traveler or provided, without a quid pro quo, for the traveler to use or give away. These may include expenditures by residents traveling abroad as same-day visitors, except in cases where these are so important as to justify a separate classification. Excluded is the international carriage of travelers, which is covered in passenger travel items. Data are in current U.S. dollars.', 'World Tourism Organization, Yearbook of Tourism Statistics, Compendium of Tourism Statistics and data files.']


Sheet Name: country code
Column Names:
['DZA']

In [12]:
s1

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,,,,,,,,,,,,
World,WLD,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.975338e+08,9.563723e+08,9.975553e+08,1.054602e+09,1.106732e+09,1.159450e+09,1.206216e+09,1.250468e+09,1.341457e+09,NaN
High income,HIC,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.483952e+08,5.794189e+08,6.058485e+08,6.320718e+08,6.635699e+08,7.053862e+08,7.386434e+08,7.751152e+08,8.212955e+08,NaN
OECD members,OED,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.016400e+08,5.216800e+08,5.454750e+08,5.637250e+08,5.921553e+08,6.302726e+08,6.641770e+08,6.873700e+08,7.387490e+08,NaN
Post-demographic dividend,PST,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.944450e+08,5.187433e+08,5.428600e+08,5.691869e+08,5.987758e+08,6.194239e+08,6.475276e+08,6.862630e+08,7.311272e+08,NaN
Europe & Central Asia,ECS,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.681120e+08,4.805914e+08,5.127784e+08,5.386314e+08,5.677226e+08,5.797844e+08,6.038805e+08,6.159794e+08,6.695441e+08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Syrian Arab Republic,SYR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.092000e+06,8.546000e+06,5.070000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Turkmenistan,TKM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virgin Islands (U.S.),VIR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.630000e+05,5.720000e+05,5.670000e+05,6.190000e+05,5.900000e+05,6.150000e+05,6.420000e+05,6.670000e+05,NaN,NaN
Kosovo,XKX,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",YEM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.028000e+06,1.025000e+06,8.290000e+05,8.740000e+05,9.900000e+05,1.017500e+06,3.667000e+05,NaN,NaN,NaN