<a href="https://colab.research.google.com/github/pspanji/BA--BI--DS/blob/main/RTD%20Analysis_Regional%20Tourism%20Disparities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#RTD Analysis_Regional Tourism Disparities

In [ ]:
# Loading the dataframe in to file for data insights and analysis.
#top 10prefered countries which are being prefered by tourists\
#which is the most expensive courtry for visit
#conuntry that contry has largest contribution for GDP

In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_excel("/content/drive/MyDrive/travel_data.xls")
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
0,Last Updated Date,2019-03-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2.009000e+03,2.010000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2018.0
3,World,WLD,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,8.975338e+08,9.563723e+08,9.975553e+08,1.054602e+09,1.106732e+09,1.159450e+09,1.206216e+09,1.250468e+09,1.341457e+09,NaN
4,High income,HIC,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,5.483952e+08,5.794189e+08,6.058485e+08,6.320718e+08,6.635699e+08,7.053862e+08,7.386434e+08,7.751152e+08,8.212955e+08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Syrian Arab Republic,SYR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,6.092000e+06,8.546000e+06,5.070000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,Turkmenistan,TKM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Virgin Islands (U.S.),VIR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,5.630000e+05,5.720000e+05,5.670000e+05,6.190000e+05,5.900000e+05,6.150000e+05,6.420000e+05,6.670000e+05,NaN,NaN
265,Kosovo,XKX,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,"Yemen, Rep.",YEM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,1.028000e+06,1.025000e+06,8.290000e+05,8.740000e+05,9.900000e+05,1.017500e+06,3.667000e+05,NaN,NaN,NaN