<a href="https://colab.research.google.com/github/pspanji/BA--BI--DS/blob/main/RTD%20Analysis_Regional%20Tourism%20Disparities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#RTD Analysis_Regional Tourism Disparities

In [ ]:
# Loading the dataframe in to file for data insights and analysis.
#top 10prefered countries which are being prefered by tourists\
#which is the most expensive courtry for visit
#conuntry that contry has largest contribution for GDP

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
df = pd.read_excel("/content/drive/MyDrive/travel_data.xls")
for sheet_name in sheet_names:
    # Read each sheet into a DataFrame
    df = pd.read_excel("/content/drive/MyDrive/travel_data.xls", sheet_name=sheet_name)

NameError: ignored