<a href="https://colab.research.google.com/github/pspanji/BA--BI--DS/blob/main/RTD%20Analysis_Regional%20Tourism%20Disparities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#RTD Analysis_Regional Tourism Disparities

In [ ]:
# Loading the dataframe in to file for data insights and analysis.
#top 10prefered countries which are being prefered by tourists\
#which is the most expensive courtry for visit
#conuntry that contry has largest contribution for GDP

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
df1 = pd.read_excel("/content/drive/MyDrive/travel_data.xls", sheet_name = None)
df1

{'number_of_arrival':                Data Source World Development Indicators  \
 0        Last Updated Date          2019-03-21 00:00:00
 1                      NaN                          NaN
 2             Country Name                 Country Code
 3                    World                          WLD
 4              High income                          HIC
 ..                     ...                          ...
 262   Syrian Arab Republic                          SYR
 263           Turkmenistan                          TKM
 264  Virgin Islands (U.S.)                          VIR
 265                 Kosovo                          XKX
 266            Yemen, Rep.                          YEM

                                     Unnamed: 2      Unnamed: 3  Unnamed: 4  \
 0                                          NaN             NaN         NaN
 1                                          NaN             NaN         NaN
 2                               Indicator Name  Indicator Code      1960.0
 3    International tourism, number of arrivals     ST.INT.ARVL         NaN
 4    International tourism, number of arrivals     ST.INT.ARVL         NaN
 ..                                         ...             ...         ...
 262  International tourism, number of arrivals     ST.INT.ARVL         NaN
 263  International tourism, number of arrivals     ST.INT.ARVL         NaN
 264  International tourism, number of arrivals     ST.INT.ARVL         NaN
 265  International tourism, number of arrivals     ST.INT.ARVL         NaN
 266  International tourism, number of arrivals     ST.INT.ARVL         NaN

      Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
 0           NaN         NaN         NaN         NaN         NaN  ...
 1           NaN         NaN         NaN         NaN         NaN  ...
 2        1961.0      1962.0      1963.0      1964.0      1965.0  ...
 3           NaN         NaN         NaN         NaN         NaN  ...
 4           NaN         NaN         NaN         NaN         NaN  ...
 ..          ...         ...         ...         ...         ...  ...
 262         NaN         NaN         NaN         NaN         NaN  ...
 263         NaN         NaN         NaN         NaN         NaN  ...
 264         NaN         NaN         NaN         NaN         NaN  ...
 265         NaN         NaN         NaN         NaN         NaN  ...
 266         NaN         NaN         NaN         NaN         NaN  ...

       Unnamed: 53   Unnamed: 54   Unnamed: 55   Unnamed: 56   Unnamed: 57  \
 0             NaN           NaN           NaN           NaN           NaN
 1             NaN           NaN           NaN           NaN           NaN
 2    2.009000e+03  2.010000e+03  2.011000e+03  2.012000e+03  2.013000e+03
 3    8.975338e+08  9.563723e+08  9.975553e+08  1.054602e+09  1.106732e+09
 4    5.483952e+08  5.794189e+08  6.058485e+08  6.320718e+08  6.635699e+08
 ..            ...           ...           ...           ...           ...
 262  6.092000e+06  8.546000e+06  5.070000e+06           NaN           NaN
 263           NaN           NaN           NaN           NaN           NaN
 264  5.630000e+05  5.720000e+05  5.670000e+05  6.190000e+05  5.900000e+05
 265           NaN           NaN           NaN           NaN           NaN
 266  1.028000e+06  1.025000e+06  8.290000e+05  8.740000e+05  9.900000e+05

       Unnamed: 58   Unnamed: 59   Unnamed: 60   Unnamed: 61  Unnamed: 62
 0             NaN           NaN           NaN           NaN          NaN
 1             NaN           NaN           NaN           NaN          NaN
 2    2.014000e+03  2.015000e+03  2.016000e+03  2.017000e+03       2018.0
 3    1.159450e+09  1.206216e+09  1.250468e+09  1.341457e+09          NaN
 4    7.053862e+08  7.386434e+08  7.751152e+08  8.212955e+08          NaN
 ..            ...           ...           ...           ...          ...
 262           NaN           NaN           NaN           NaN          NaN
 263           NaN           NaN           NaN           NaN          NaN
 264  6.150000e+05  6.420000e+05  6.670000e+05           NaN          NaN
 265           NaN           NaN           NaN           NaN          NaN
 266  1.017500e+06  3.667000e+05           NaN           NaN          NaN

 [267 rows x 63 columns],
 'number_of_departure':            Data Source World Development Indicators  \
 0    Last Updated Date          2019-03-21 00:00:00
 1                  NaN                          NaN
 2         Country Name                 Country Code
 3                Aruba                          ABW
 4          Afghanistan                          AFG
 ..                 ...                          ...
 262             Kosovo                          XKX
 263        Yemen, Rep.                          YEM
 264       South Africa                          ZAF
 265             Zambia                          ZMB
 266           Zimbabwe                          ZWE

                                       Unnamed: 2      Unnamed: 3  Unnamed: 4  \
 0                                            NaN             NaN         NaN
 1                                            NaN             NaN         NaN
 2                                 Indicator Name  Indicator Code      1960.0
 3    International tourism, number of departures     ST.INT.DPRT         NaN
 4    International tourism, number of departures     ST.INT.DPRT         NaN
 ..                                           ...             ...         ...
 262  International tourism, number of departures     ST.INT.DPRT         NaN
 263  International tourism, number of departures     ST.INT.DPRT         NaN
 264  International tourism, number of departures     ST.INT.DPRT         NaN
 265  International tourism, number of departures     ST.INT.DPRT         NaN
 266  International tourism, number of departures     ST.INT.DPRT         NaN

      Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
 0           NaN         NaN         NaN         NaN         NaN  ...
 1           NaN         NaN         NaN         NaN         NaN  ...
 2        1961.0      1962.0      1963.0      1964.0      1965.0  ...
 3           NaN         NaN         NaN         NaN         NaN  ...
 4           NaN         NaN         NaN         NaN         NaN  ...
 ..          ...         ...         ...         ...         ...  ...
 262         NaN         NaN         NaN         NaN         NaN  ...
 263         NaN         NaN         NaN         NaN         NaN  ...
 264         NaN         NaN         NaN         NaN         NaN  ...
 265         NaN         NaN         NaN         NaN         NaN  ...
 266         NaN         NaN         NaN         NaN         NaN  ...

      Unnamed: 53  Unnamed: 54  Unnamed: 55  Unnamed: 56  Unnamed: 57  \
 0            NaN          NaN          NaN          NaN          NaN
 1            NaN          NaN          NaN          NaN          NaN
 2         2009.0       2010.0       2011.0       2012.0       2013.0
 3            NaN          NaN          NaN          NaN          NaN
 4            NaN          NaN          NaN          NaN          NaN
 ..           ...          ...          ...          ...          ...
 262          NaN          NaN          NaN          NaN          NaN
 263          NaN          NaN          NaN          NaN          NaN
 264          NaN          NaN          NaN          NaN          NaN
 265          NaN          NaN          NaN          NaN          NaN
 266     631000.0     650000.0     693000.0     720000.0    2946000.0

      Unnamed: 58  Unnamed: 59  Unnamed: 60  Unnamed: 61  Unnamed: 62
 0            NaN          NaN          NaN          NaN          NaN
 1            NaN          NaN          NaN          NaN          NaN
 2         2014.0       2015.0       2016.0       2017.0       2018.0
 3            NaN          NaN          NaN          NaN          NaN
 4            NaN          NaN          NaN          NaN          NaN
 ..           ...          ...          ...          ...          ...
 262          NaN          NaN          NaN          NaN          NaN
 263          NaN          NaN          NaN          NaN          NaN
 264          NaN          NaN          NaN          NaN          NaN
 265          NaN          NaN          NaN          NaN          NaN
 266    3182000.0    3393000.0    3192000.0    2768000.0          NaN

 [267 rows x 63 columns],
 'expenditure for travel item':            Data Source World Development Indicators  \
 0    Last Updated Date          2019-03-21 00:00:00
 1                  NaN                          NaN
 2         Country Name                 Country Code
 3                Aruba                          ABW
 4          Afghanistan                          AFG
 ..                 ...                          ...
 262             Kosovo                          XKX
 263        Yemen, Rep.                          YEM
 264       South Africa                          ZAF
 265             Zambia                          ZMB
 266           Zimbabwe                          ZWE

                                             Unnamed: 2      Unnamed: 3  \
 0                                                  NaN             NaN
 1                                                  NaN             NaN
 2                                       Indicator Name  Indicator Code
 3    International tourism, expenditures for travel...  ST.INT.TVLX.CD
 4    International tourism, expenditures for travel...  ST.INT.TVLX.CD
 ..                                                 ...             ...
 262  International tourism, expenditures for travel...  ST.INT.TVLX.CD
 263  International tourism, expenditures for travel...  ST.INT.TVLX.CD
 264  International tourism, expenditures for travel...  ST.INT.TVLX.CD
 265  International tourism, expenditures for travel...  ST.INT.TVLX.CD
 266  International tourism, expenditures for travel...  ST.INT.TVLX.CD

      Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
 0           NaN         NaN         NaN         NaN         NaN         NaN
 1           NaN         NaN         NaN         NaN         NaN         NaN
 2        1960.0      1961.0      1962.0      1963.0      1964.0      1965.0
 3           NaN         NaN         NaN         NaN         NaN         NaN
 4           NaN         NaN         NaN         NaN         NaN         NaN
 ..          ...         ...         ...         ...         ...         ...
 262         NaN         NaN         NaN         NaN         NaN         NaN
 263         NaN         NaN         NaN         NaN         NaN         NaN
 264         NaN         NaN         NaN         NaN         NaN         NaN
 265         NaN         NaN         NaN         NaN         NaN         NaN
 266         NaN         NaN         NaN         NaN         NaN         NaN

      ...   Unnamed: 53   Unnamed: 54   Unnamed: 55   Unnamed: 56  \
 0    ...           NaN           NaN           NaN           NaN
 1    ...           NaN           NaN           NaN           NaN
 2    ...  2.009000e+03  2.010000e+03  2.011000e+03  2.012000e+03
 3    ...  2.430000e+08  2.430000e+08  2.690000e+08  2.750000e+08
 4    ...  6.800000e+07  1.030000e+08  2.460000e+08  1.050000e+08
 ..   ...           ...           ...           ...           ...
 262  ...           NaN           NaN           NaN           NaN
 263  ...  2.140000e+08  1.830000e+08  1.820000e+08  7.300000e+07
 264  ...  4.152000e+09  5.595000e+09  5.283000e+09  4.069000e+09
 265  ...  9.600000e+07  1.050000e+08  1.110000e+08  1.650000e+08
 266  ...  1.100000e+08  1.310000e+08  2.280000e+08  2.720000e+08

       Unnamed: 57   Unnamed: 58   Unnamed: 59   Unnamed: 60   Unnamed: 61  \
 0             NaN           NaN           NaN           NaN           NaN
 1             NaN           NaN           NaN           NaN           NaN
 2    2.013000e+03  2.014000e+03  2.015000e+03  2.016000e+03  2.017000e+03
 3    3.200000e+08  3.300000e+08  3.440000e+08  3.190000e+08  3.490000e+08
 4    1.320000e+08  1.370000e+08  1.470000e+08  7.900000e+07  1.180000e+08
 ..            ...           ...           ...           ...           ...
 262           NaN           NaN           NaN           NaN           NaN
 263  8.600000e+07  7.700000e+07  7.200000e+07  4.900000e+07           NaN
 264  3.429000e+09  3.169000e+09  2.998000e+09  2.858000e+09  3.256000e+09
 265  2.100000e+08  2.220000e+08  2.340000e+08  2.470000e+08  2.230000e+08
 266  3.370000e+08  3.420000e+08  4.760000e+08  3.270000e+08  3.150000e+08

      Unnamed: 62
 0            NaN
 1            NaN
 2         2018.0
 3            NaN
 4            NaN
 ..           ...
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN

 [267 rows x 63 columns],
 'receipts for travel items':            Data Source World Development Indicators  \
 0    Last Updated Date          2019-03-21 00:00:00
 1                  NaN                          NaN
 2         Country Name                 Country Code
 3                Aruba                          ABW
 4          Afghanistan                          AFG
 ..                 ...                          ...
 262             Kosovo                          XKX
 263        Yemen, Rep.                          YEM
 264       South Africa                          ZAF
 265             Zambia                          ZMB
 266           Zimbabwe                          ZWE

                                             Unnamed: 2      Unnamed: 3  \
 0                                                  NaN             NaN
 1                                                  NaN             NaN
 2                                       Indicator Name  Indicator Code
 3    International tourism, receipts for travel ite...  ST.INT.TVLR.CD
 4    International tourism, receipts for travel ite...  ST.INT.TVLR.CD
 ..                                                 ...             ...
 262  International tourism, receipts for travel ite...  ST.INT.TVLR.CD
 263  International tourism, receipts for travel ite...  ST.INT.TVLR.CD
 264  International tourism, receipts for travel ite...  ST.INT.TVLR.CD
 265  International tourism, receipts for travel ite...  ST.INT.TVLR.CD
 266  International tourism, receipts for travel ite...  ST.INT.TVLR.CD

      Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
 0           NaN         NaN         NaN         NaN         NaN         NaN
 1           NaN         NaN         NaN         NaN         NaN         NaN
 2        1960.0      1961.0      1962.0      1963.0      1964.0      1965.0
 3           NaN         NaN         NaN         NaN         NaN         NaN
 4           NaN         NaN         NaN         NaN         NaN         NaN
 ..          ...         ...         ...         ...         ...         ...
 262         NaN         NaN         NaN         NaN         NaN         NaN
 263         NaN         NaN         NaN         NaN         NaN         NaN
 264         NaN         NaN         NaN         NaN         NaN         NaN
 265         NaN         NaN         NaN         NaN         NaN         NaN
 266         NaN         NaN         NaN         NaN         NaN         NaN

      ...   Unnamed: 53   Unnamed: 54   Unnamed: 55   Unnamed: 56  \
 0    ...           NaN           NaN           NaN           NaN
 1    ...           NaN           NaN           NaN           NaN
 2    ...  2.009000e+03  2.010000e+03  2.011000e+03  2.012000e+03
 3    ...  1.222000e+09  1.251000e+09  1.351000e+09  1.402000e+09
 4    ...  3.600000e+07  7.500000e+07  8.500000e+07  1.020000e+08
 ..   ...           ...           ...           ...           ...
 262  ...           NaN           NaN           NaN           NaN
 263  ...  8.990000e+08  1.161000e+09  7.800000e+08  8.480000e+08
 264  ...  7.624000e+09  9.085000e+09  9.515000e+09  9.996000e+09
 265  ...  4.740000e+08  4.920000e+08  5.550000e+08  5.180000e+08
 266  ...  1.180000e+08  1.240000e+08  1.520000e+08  1.610000e+08

       Unnamed: 57   Unnamed: 58   Unnamed: 59   Unnamed: 60   Unnamed: 61  \
 0             NaN           NaN           NaN           NaN           NaN
 1             NaN           NaN           NaN           NaN           NaN
 2    2.013000e+03  2.014000e+03  2.015000e+03  2.016000e+03  2.017000e+03
 3    1.495000e+09  1.605000e+09  1.655000e+09  1.625000e+09  1.731000e+09
 4    1.380000e+08  1.090000e+08  7.900000e+07  4.900000e+07  2.000000e+06
 ..            ...           ...           ...           ...           ...
 262           NaN           NaN           NaN           NaN           NaN
 263  9.400000e+08  1.026000e+09  1.000000e+08  1.000000e+08           NaN
 264  9.245000e+09  9.338000e+09  8.259000e+09  7.919000e+09  8.810000e+09
 265  5.520000e+08  6.420000e+08  6.600000e+08  6.830000e+08  6.530000e+08
 266  1.700000e+08  1.720000e+08  1.750000e+08  1.770000e+08  1.490000e+08

      Unnamed: 62
 0            NaN
 1            NaN
 2         2018.0
 3            NaN
 4            NaN
 ..           ...
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN

 [267 rows x 63 columns],
 'receipts (% of total exports)':            Data Source World Development Indicators  \
 0    Last Updated Date          2019-03-21 00:00:00
 1                  NaN                          NaN
 2         Country Name                 Country Code
 3                Aruba                          ABW
 4          Afghanistan                          AFG
 ..                 ...                          ...
 262             Kosovo                          XKX
 263        Yemen, Rep.                          YEM
 264       South Africa                          ZAF
 265             Zambia                          ZMB
 266           Zimbabwe                          ZWE

                                             Unnamed: 2         Unnamed: 3  \
 0                                                  NaN                NaN
 1                                                  NaN                NaN
 2                                       Indicator Name     Indicator Code
 3    International tourism, receipts (% of total ex...  ST.INT.RCPT.XP.ZS
 4    International tourism, receipts (% of total ex...  ST.INT.RCPT.XP.ZS
 ..                                                 ...                ...
 262  International tourism, receipts (% of total ex...  ST.INT.RCPT.XP.ZS
 263  International tourism, receipts (% of total ex...  ST.INT.RCPT.XP.ZS
 264  International tourism, receipts (% of total ex...  ST.INT.RCPT.XP.ZS
 265  International tourism, receipts (% of total ex...  ST.INT.RCPT.XP.ZS
 266  International tourism, receipts (% of total ex...  ST.INT.RCPT.XP.ZS

      Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
 0           NaN         NaN         NaN         NaN         NaN         NaN
 1           NaN         NaN         NaN         NaN         NaN         NaN
 2        1960.0      1961.0      1962.0      1963.0      1964.0      1965.0
 3           NaN         NaN         NaN         NaN         NaN         NaN
 4           NaN         NaN         NaN         NaN         NaN         NaN
 ..          ...         ...         ...         ...         ...         ...
 262         NaN         NaN         NaN         NaN         NaN         NaN
 263         NaN         NaN         NaN         NaN         NaN         NaN
 264         NaN         NaN         NaN         NaN         NaN         NaN
 265         NaN         NaN         NaN         NaN         NaN         NaN
 266         NaN         NaN         NaN         NaN         NaN         NaN

      ...  Unnamed: 53  Unnamed: 54  Unnamed: 55  Unnamed: 56  Unnamed: 57  \
 0    ...          NaN          NaN          NaN          NaN          NaN
 1    ...          NaN          NaN          NaN          NaN          NaN

In [55]:
type(df1)

dict

In [62]:
s1 = df1['number_of_arrival']
s1

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
0,Last Updated Date,2019-03-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2.009000e+03,2.010000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2018.0
3,World,WLD,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,8.975338e+08,9.563723e+08,9.975553e+08,1.054602e+09,1.106732e+09,1.159450e+09,1.206216e+09,1.250468e+09,1.341457e+09,NaN
4,High income,HIC,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,5.483952e+08,5.794189e+08,6.058485e+08,6.320718e+08,6.635699e+08,7.053862e+08,7.386434e+08,7.751152e+08,8.212955e+08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Syrian Arab Republic,SYR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,6.092000e+06,8.546000e+06,5.070000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,Turkmenistan,TKM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Virgin Islands (U.S.),VIR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,5.630000e+05,5.720000e+05,5.670000e+05,6.190000e+05,5.900000e+05,6.150000e+05,6.420000e+05,6.670000e+05,NaN,NaN
265,Kosovo,XKX,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,"Yemen, Rep.",YEM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,1.028000e+06,1.025000e+06,8.290000e+05,8.740000e+05,9.900000e+05,1.017500e+06,3.667000e+05,NaN,NaN,NaN